[client]
# 端口
port = 3306
# 用于本地连接的Unix套接字文件存放路径
socket = /tmp/mysql.sock

[mysqld]
# 服务端默认监听的tcp/ip端口
port = 3306
# 用于本地连接的Unix套接字文件存放路径
socket = /tmp/mysql.sock
# 基本目录
basedir = &basedir
# 数据目录
datadir = &basedir/data
#进程pid文件存放路径
pid-file = &basedir/data/mysql.pid
# 错误日志存放路径
log-error = &basedir/logs/error.log

